body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  color: rgba(37, 38, 94, 0.7);
}
a {
  text-decoration: none;
}

p {
  color: rgba(37, 38, 94, 0.7);
  font-size: 18px;
}

ul {
  li {
    color: rgba(37, 38, 94, 0.7);
    font-size: 18px;
  }
}
