@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexColumnFlexEnd {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@mixin flexAlCentSpaceBetween{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
