@import "./../templates";

.home{
  .main-home-info{
    @include flexAlCentSpaceBetween;
    margin-top: 10px;
    &-text{
      max-width: 50%;
      h1{
        color: #2DAD67;
      }
      p{
        color: #68698F;
        font-size: 18px;
      }
      .home-main-btn{
        border: 2px solid #2DAD67;
        padding: 10px 24px;
        width: max-content;
        color: #2DAD67;
        box-sizing: border-box;
        font-size: 18px;
        font-weight: bold;
        &:hover{
          cursor: pointer;
          color: white;
          background-color: #2DAD67;
        }
      }
    }
    &-photo{
      width: 50%;
      .main-img{
        width: 100%;
      }
    }
  }
  .choose-what-to-lrn{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    &-text{
      max-width: 160px;
      h3{
        color: #2DAD67;
      }
      p{
        color: #68698F;
      }
    }
    &-more{
      @include flexCenter;
      padding: 10px;
      width: 160px;
      height: 100%;
      border-radius: 4px;
      border: 0.3px solid #2DAD67;
      box-sizing: border-box;
    }
    .choose-item{
      padding: 10px;
      width: 160px;
      border-radius: 4px;
      border: 0.3px solid #2DAD67;
      box-sizing: border-box;
      &-title{
        color: #2DAD67;
      }
      .bkg-img-clr{
        margin-bottom: 20px;
        background-color: #E5EEFE;
        img{
          width: 80px;
        }
      }
      a{
        text-decoration: none;
        font-weight: bold;
        color: #68698F;
      }
    }
    a{
      text-decoration: none;
    }
  }
}
