
.array-container {
  margin: 0 auto;
}
.array-bar {
  width: 3px;
  display: inline-block; /* arranges the array bars in horizontal way*/
  margin: 0 2px; /*Top,Bottom -> 0px Left,Right -> 1px*/
}

.buttons{
  width: 100%;
  display: flex;
  button {
    @include flexCenter();
    margin: 5px 20px;
    padding: .60em;
    background-color: #47535E; 
    border: none;
    color: #EAF0F1;
    text-decoration: none;
    border-radius: 6px;
    cursor: pointer;
    outline: 0;
    &:not(:last-child){
      border-bottom: none;
    }
  }
}

.sort{
  display: flex;
  .content{
    flex: 0.8;
  }
}